<header class=" sticky-header">
<div class="container">
	<div class="sixteen columns">
<!-- <li><p style="font:16;color:white "></p></li> -->
		<!-- Logo -->
    <div id="logo">
			<h1><a href="/main"><img src="images/logo.png" style="width:100px" alt="52 lines of code " /></a></h1>
		</div>
		<!-- Menu -->

    <div><span class='error'></span></div>

  	<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>
	</div>
</div>
</header>
