<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>hello plz sign in user</p>
    <a href="/main">mainpage</a>

    <div class="userPosts"></div>

    <script type="text/javascript">
    var ESC_MAP = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#39;'
    };

    function escapeHTML(s, forAttribute) {
        return s.replace(forAttribute ? /[&<>'"]/g : /[&<>]/g, function(c) {
            return ESC_MAP[c];
        });
    }
    $.get("/json/posts/all/"+window.location.pathname.split('/')[2]+"/VyRghZo5CmTU4uIocL4G", function(data, status){
      console.log(data);
            for (var i = 0; i < data.length; i++) {
              $( "<h1><a href='/post/"+encodeURI(window.location.pathname.split('/')[2])+"/"+encodeURI(escapeHTML(data[i].postident,true))+"/"+encodeURI(escapeHTML(data[i].postTitle,true))+"/'>"+escapeHTML(data[i].postTitle,true)+"</a></h1>" ).appendTo( ".userPosts" );
              $( "<p>"+escapeHTML(data[i].content,true)+"</p>" ).appendTo( ".userPosts" );
            }
        });
    </script>
<!-- try to do dummy func and call it. -->
  </body>
</html>
